# Datoteka example.config
# Primjer konfiguracije, popis svih varijabli.
# Kopirajte u app.config i unesite ispravne podatke.

DATABASE_HOST = 'db_host';
DATABASE_USER = 'user';
DATABASE_PASS = 'password';
DATABASE_DB = 'db_name';
 
SESSION_TYPE = 'cachelib';
SESSION_PERMANENT = False;

# Sada konfiguriramo spajanje na bazu pomoću SQLAlchemy.
# Prilagodite username, password, hostname.math.hr, db_name unutar SQLALCHEMY_DATABASE_URI svojim podacima.
# OPREZ: migracija će obrisati sve tablice iz baze db_name koje ova aplikacija ne koristi!

SQLALCHEMY_DATABASE_URI = 'mysql+pymysql://username:password@hostname.math.hr/db_name'
SQLALCHEMY_TRACK_MODIFICATIONS = False
