* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: Verdana;
    font-size: 12pt;
    background-color: white;
    color: black;
}

header {
    background-color: darkred;
    color: black;
    padding: 20px;
    text-align: left;
    margin-bottom: 0;
    border-bottom: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

nav {
    background-color: red;
    padding: 10px;
    text-align: center;
    margin-top: 0;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 5px;
}
