* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: Verdana;
    font-size: 12pt;
    background-color: rgb(12, 3, 143);
    color: black;
}

header {
    background-color: rgb(207, 0, 0);
    color: black;
    padding: 20px;
    text-align: left;
    margin-bottom: 0;
    border-bottom: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

nav {
    background-color: red;
    padding: 10px;
    text-align: center;
    margin-top: 0;
}

.nav_buttons:hover {
    transform: translateY(-4px);
    box-shadow:
        0 6px 28px rgba(0, 0, 0, 0.12),
        0 6px 14px rgba(0, 0, 0, 0.08);
    background-color: rgb(202, 0, 0);
}

nav a {
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 5px;
}

.block_contents  {
    margin: 40px 200px ;
    padding: 30px 40px;

    background: rgb(163, 163, 163);
    border-radius: 14px;
}

.preformances {
    list-style: none;
    display: grid;
    gap: 25px;
    margin-top: 20px;
}

.performance {
    background: #f6ffdcce;
    border-radius: 14px;
    padding: 20px;

    box-shadow:
        0 3px 20px rgba(0, 0, 0, 0.18),
        0 1px 8px rgba(0, 0, 0, 0.15);

    /*transition: transform 0.2s ease, box-shadow 0.2s ease;*/

    display: flex;
    flex-direction: column;
}

.performance:hover {
    transform: translateY(-4px);
    box-shadow:
        0 6px 28px rgba(0, 0, 0, 0.12),
        0 6px 14px rgba(0, 0, 0, 0.08);
}