<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Rezervator</title>
</head>
<body>
    <header class="header">
        <span class="title">
            <h1 class="title">Rezervator</h1>
        </span>
    </header>
    <nav>
        <a href="/svidogadaji" class = "nav_buttons">Svi događaji</a>
        <a href="/kazaliste" class = "nav_buttons">Kazalište</a>
        <a href="/kino" class = "nav_buttons">Kino</a>
    </nav>

<div class = "block_contents">
    {% block contents %}{% endblock %}
</div>
</body>
</html>
