<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Rezervator</title>
</head>
<body>
    <header class="header">
        <span class="title">
            <h1 class="title">Rezervator</h1>
        </span>
    </header>
    <nav>
        <a href="/svidogadaji">Svi događaji</a>
        <a href="/kazaliste">Kazalište</a>
        <a href="/kino">Kino</a>
    </nav>


    {% block contents %}{% endblock %}
</body>
</html>
