{% extends '_layout.html' %}

{% block contents %}

<div class="search">
    <form action="/svidogadaji" method="post">
        <select name="location">
            <option value="all_locations" {% if selected_location == 'all_locations' %}selected{% endif %}>Sve lokacije</option>
            {% for location in locations %}
            <option value="{{ location }}" {% if selected_location == location %}selected{% endif %}>{{ location }}</option>
            {% endfor %}
        </select>
        <select name="play">
            <option value="all_plays" {% if selected_play == 'all_plays' %}selected{% endif %}>All plays</option>
            {% for play in plays %}
            <option value="{{ play }}" {% if selected_play == play %}selected{% endif %}>{{ play }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Filtriraj">
    </form>
</div>

<ul class="performances">
    {% for performance in performances %}
        <li class="performance">
            <h3> {{ performance.play.title_play }} </h3>
            <h5> {{ performance.play.genre_play }} </h5>
            <h5> {{ performance.play.duration_play }} </h5>
            <p> {{ performance.play.description_play }} </p>
            <p><strong> {{ performance.date_performance }} </strong></p>
            <p><strong> {{ performance.price_performance }} </strong></p>
        </li>
    {% endfor %}
</ul>

{% endblock %}
